@page "/counter"
@using Blauhaus.Analytics.Samples.BlazorServer.Data
@inherits CounterBase;

<h1>Counter</h1>

<p>Weather service Id: @ForecastService.Id (constructed @WeatherForecastService.ConstructionCount times)</p>

<p>
    <h4>Analytics headers</h4>
    <ul>
        @if (AnalyticsService.AnalyticsOperationHeaders["X-Analytics-OperationId"] != "")
        {
            @foreach (var header in AnalyticsService.AnalyticsOperationHeaders)
             {
                 <li>@header.Key : @header.Value</li>
             }
        }
    </ul>
</p>

<p>Current count: @CurrentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

